#dinner img, #lunch img, #breakfast img {
  width: 200px;
  height: 300px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  text-align: center;
  /**parent container centers all text**/
  background: #dbdbf0;
}

#header {
  background: white;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  border: 1px solid gray;
}
#header #main-title {
  position: fixed;
  left: 5px;
  top: 10px;
}
#header nav {
  position: fixed;
  right: 5px;
  top: 10px;
}
#header nav ul {
  display: flex;
}
#header nav ul li {
  margin: 10px;
  text-decoration: underline;
}
#header nav ul li a {
  color: black;
}
#header nav ul li a:hover {
  background: #e6e6e6;
}

ul {
  list-style: none;
  /**removes the bullet points from ul li items */
}

h2 {
  text-align: center;
}

footer {
  background: #cdcdfe;
  padding: 20px;
  /*20px of space between the footer container border and content*/
  border: 5px solid green;
}

footer #meal-breakfast, #meal-lunch, #meal-dinner, #meal-dessert {
  margin: 10px;
}

footer #email {
  margin: 10px;
}

/*#dessert-header-images img{
  justify-content: center;
}
#dessert-main-content{
  display: flex;
  flex-wrap: wrap; /*wrap elements onto the next line*/
#breakfast-title {
  margin-top: 100px;
}

#breakfast {
  display: flex;
  /*horizontal layout for breakfast section*/
  border: 5px solid black;
}
#breakfast img {
  /*statically defined image sizes*/
}

#breakfast figure {
  /**10px of space between each breakfast element**/
}

#lunch {
  display: flex;
  /*horizontal layout of lunch section*/
  justify-content: center;
  /*aligns all elements in the center*/
  border: 5px solid green;
}
#lunch figure {
  margin: 10px;
}

#lunch img {
  /*statically defined image sizes for lunch images*/
}

#dinner {
  display: flex;
  /*horizontally displayed dinner elements*/
  justify-content: space-around;
  /*space around each element in the dinner container*/
  border: 5px solid yellow;
}

#dinner img {
  /*statically defined size of dinner img elements*/
}

#dinner figcaption:hover {
  background: white;
}

#dessert {
  background: #d1d1fa;
  padding: 20px;
  /*20px of space between the dessert container border and dessert title/content*/
}

#dessert-header-images {
  display: flex;
  /*display images using flexbox*/
  justify-content: center;
  /*center dessert images*/
  margin: 20px;
}

#dessert-main-content h3 {
  text-decoration: underline;
}

#dessert-main-content {
  /*implementation of css-grid*/
  margin: 20px;
  /*20px space around table and surrounding html elements (header images and return to home link text*/
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

#dessert-main-content figure {
  /*center the images under the recipe column*/
  align-self: center;
  justify-self: center;
}

#dessert-header-images img {
  /*statically defined image sizes*/
  width: 400px;
  height: 200px;
}

#oreo-truffles img {
  /*statically defined image sizes*/
  width: 200px;
  height: 200px;
}

#return-home {
  margin: 15px;
}

#return-home a:hover {
  background: white;
}

#dessert-title {
  margin-top: 15px;
}

@media (max-width: 480px) {
  #breakfast, #lunch, #dinner {
    flex-direction: column;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  #breakfast, #lunch, #dinner {
    flex-direction: column;
    justify-content: center;
  }
}