*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  text-align: center;/**parent container centers all text**/
  background: #dbdbf0;
}
nav{
  margin: 20px; /**20px margin for the navigation menu**/
}
nav li a:hover{
  background: gray;

}
ul{
  list-style: none; /**removes the bullet points from ul li items */
}

#breakfast{
  display: flex; /*horizontal layout for breakfast section*/
  padding: 10px; /*10px of space between breakfast container border and content*/
  margin: 10px; /*10px of space between the breakfast container and surrounding html elements (breakfast and lunch title*/
  justify-content: space-around; /**implements space around all elements */
}

#breakfast img{ /*statically defined image sizes*/
  width: 200px; 
  height: 300px;
}

#breakfast figure{ /**10px of space between each breakfast element**/
  margin: 20px;
}
#lunch{
  display: flex; /*horizontal layout of lunch section*/
  justify-content: center; /*aligns all elements in the center*/
  margin: 10px; /*10px of space between the lunch container and surrounding html elements (lunch and dinner title)*/
  padding: 10px; /*10px of space between the border of the lunch container and lunch content*/

}
#dinner figcaption:hover{
  background: white;
}
#lunch img{ /*statically defined image sizes for lunch images*/
  width: 200px;
  height: 300px;
  margin: 20px; /*20px of space around lunch img elements*/
 
}

#dinner{
  display: flex; /*horizontally displayed dinner elements*/
  justify-content: space-around; /*space around each element in the dinner container*/
  margin: 20px; /*20px of space around the dinner container and surrounding html elements (dinner and dessert title)*/
  padding: 10px; /*10px of space between dinner container border and dinner content*/
}
#dinner img{ /*statically defined size of dinner img elements*/
  width: 200px;
  height: 200px;
}
#dinner figure{
  margin: 20px; /*20px of space around each dinner figure element*/
  
}
#dessert{
  background: #d1d1fa;
  padding: 20px; /*20px of space between the dessert container border and dessert title/content*/
 
}
footer{
  background: #cdcdfe;
  padding: 20px; /*20px of space between the footer container border and content*/
}
footer #meal-breakfast, #meal-lunch, #meal-dinner, #meal-dessert{
  margin: 10px;
}
footer #email{
  margin: 10px;
}
@media (max-width: 800px){/*styling implemented for screen width 800px and less*/
  #breakfast, #lunch, #dinner{
    flex-wrap: wrap; /*wrap elements onto the next line*/
    justify-content: center; /*center all elements within the breakfast, lunch, and dinner containers*/

  }

}


