@use 'helpers/variables';
@use 'helpers/mixins';

*{
  margin: 0px;
  color: black;
  padding: 0px;
  box-sizing: border-box;
  font-family: variables.$font-family;
}

body{
  text-align: center;/**parent container centers all text**/
  background: variables.$background-color; //@use requires use of namespace
}
#header{
  background: variables.$header-background-color;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  border: variables.$border-style;
  #main-title{
    position: fixed;
    left: 5px;
    top: 10px;
  }
  nav {
    position: fixed;
    right: 5px;
    top: 15px;
    
  ul{
    display: flex;
    li{
      margin: 10px;
      text-decoration: underline;
      a{
        color: black;
        &:hover{
          color: variables.$hover-color;
          text-decoration-color: variables.$hover-color;

      }
      
      }
    }
  
    
  }
}


}
ul{
  list-style: none; /**removes the bullet points from ul li items */
}
h2{
  text-align: center;
}

footer{
  background: variables.$footer-background-color;
  padding: 20px; /*20px of space between the footer container border and content*/
  border: variables.$border-style;
}
footer #meal-breakfast, #meal-lunch, #meal-dinner, #meal-dessert{
  margin: 10px;
}
footer #email{
  margin: 10px;
}

ol{
  padding: 20px;
}


