@use 'helpers/variables';

*{
  margin: 0px;
  color: black;
  padding: 0px;
  box-sizing: border-box;
  font-family: variables.$font-family;
}
.selected-border{
  border: 2px solid gray;
}
#recipe-link{
  margin-top: 20px;
  display: none;
}
#search{
  height: 15rem;
}
#search-selectors{
  margin-top: 150px;
  h3{
    font-size: 50px;
  }
  #recipe-selected{
    font-size: 40px;
    margin-bottom: 10px;
  }
  button{
    margin-top: 20px;
  }

}

body{
  text-align: center;/**parent container centers all text**/
  background: variables.$background-color; //@use requires use of namespace
}
#header{
  background: variables.$header-background-color;
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 5rem;
  top: 0;
  justify-content: center;
  border: variables.$border-style;
  #main-title{
    margin: auto auto;
  }
  nav {
    position: fixed;
    right: 5px;
    top: 15px;
    
  ul{
    display: flex;
    li{
      margin: 10px;
      text-decoration: underline;
      a{
        color: black;
        &:hover{
          color: variables.$hover-color;
          text-decoration-color: variables.$hover-color;

      }
      
      }
    }
  
    
  }
}


}
ul{
  list-style: none; /**removes the bullet points from ul li items */
}
h2{
  text-align: center;
}

footer{
  background: variables.$footer-background-color;
  padding: 20px; /*20px of space between the footer container border and content*/
  border: variables.$border-style;
  #meal-breakfast, #meal-lunch, #meal-dinner, #meal-dessert, #email{
    margin: 10px;
  }

}


ol{
  padding: 20px;
}


