@use 'helpers/variables';
@use 'helpers/mixins';

#breakfast-title{
  margin-top: 100px; // breakfast title is pushed 100px from the top of the page so that it is directly below the navigation bar
}
#breakfast{
  display: flex; /*horizontal layout for breakfast section*/
  border: variables.$border-style; 
  .steps ol li {
    margin-left: 20px;
  }
  
}
#vegan-pancakes, #overnight-oats{
  margin: 20px;
  width: 50%;

}

#overnight-oats{
  margin-right: 100px;
}
#vegan-pancakes {
  margin-left: 100px;
  img{
    width: 300px;
  }
 
}
.ingredients{
  margin: 10px;

}

#breakfast img{ /*statically defined image sizes*/
  @extend %image-size;
  
}

