@use 'helpers/variables';
@use 'helpers/mixins';

#lunch-title{
  margin-top: 20px;
}
#lunch{
  display: flex; /*horizontal layout of lunch section*/
  justify-content: center; /*aligns all elements in the center*/
  border: variables.$border-style;
  figure{
    margin: 10px;
  }

}
#lunch img{ /*statically defined image sizes for lunch images*/
  @extend %image-size;
 
}
#veggie-wrap{
  margin: auto 5px;
}