@use 'helpers/variables';
@use 'helpers/mixins';

#lunch{
  display: flex; /*horizontal layout of lunch section*/
  justify-content: center; /*aligns all elements in the center*/
  //margin: 10px; /*10px of space between the lunch container and surrounding html elements (lunch and dinner title)*/
  //padding: 10px; /*10px of space between the border of the lunch container and lunch content*/
  border: 5px solid green;
  figure{
    margin: 10px;
  }

}
#lunch img{ /*statically defined image sizes for lunch images*/
  @extend %image-size;
  //margin: 20px; /*20px of space around lunch img elements*/
 
}